/*
  ##Device = Desktops HiDPI screen
  ##Screen = 1440px to higher resolution desktops
*/
@media (min-width: 1440px) {
    #custom-search-input input {
        width: 475px;
    }

    .download-phone-ico {
        width: 50%;
        float: left;
    }

    .download-apps-ico {
        width: 50%;
        float: right;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to 1439px
*/
@media (min-width: 1281px) and (max-width: 1439px) {
    #custom-search-input input {
        width: 335px;
    }

    .download-phone-ico {
        width: 50%;
        float: left;
    }

    .download-apps-ico {
        width: 50%;
        float: right;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #custom-search-input input {
        width: 200px;
    }

    .alert-banner-text {
        font-size: 16px;
    }

    .download-phone-ico {
        width: 50%;
        float: left;
    }

    .download-apps-ico {
        width: 50%;
        float: right;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #custom-search-input input {
        width: 335px;
    }

    .download-phone-ico {
        width: 30%;
        float: left;
    }

    .download-apps-ico {
        width: 30%;
        float: left;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #custom-search-input input {
        width: 79px;
    }

    .alert-banner-text {
        font-size: 16px;
    }

    .download-phone-ico {
        width: 30%;
        float: left;
    }

    .download-apps-ico {
        width: 30%;
        float: left;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .download-phone-ico {
        width: 50%;
        float: right;
    }

    .download-apps-ico {
        width: 50%;
        float: right;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .download-phone-ico {
        width: 50%;
        float: left;
    }

    .download-apps-ico {
        width: 50%;
        float: right;
    }
}