.msform {
    margin: 0 auto;
    position: relative;
    width: 75%;
}

.msform .dropdown-menu > .active > a {
    background-color: #00ADB5;
}

.msform a {
    text-decoration: none;
}

.msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    margin: 0 10%;
    position: relative;
}

.msform fieldset:not(:first-of-type) {
    display: none;
}

.msform input, .msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

.msform .next:not(:first-of-type), .msform .submit {
    float: right;
}

.msform .previous {
    float: left;
}

.msform .btn-upload {
    width: 100%;
    margin: 10px auto;
    padding: 10px 5px;
    cursor: pointer;
    color: #fff;
    background: #00ADB5;
    border: 0 none;
    border-radius: 4px;
    border-bottom: 4px solid #006269;
    outline: none;
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
    transition: all .2s ease;
}

.msform .btn-upload:hover {
    background: #009da5;
    transition: all .2s ease;
}

.msform .btn-upload:active {
    border: 0;
    transition: all .2s ease;
}

.msform .action-button {
    width: 100px;
    background: #00ADB5;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px auto;
}

.msform .action-button:hover, .msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #00ADB5;
}

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #00ADB5;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 0;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #8f989f;
    text-transform: uppercase;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: #eee;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #eee;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#progressbar li:first-child:after {
    content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #00ADB5;
    color: #fff;
}

#progressbar li:hover, #progressbar li:focus, #progressbar li.active {
    color: #00ADB5;
}

.accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0;
}

.accordion .accordion-toggle {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.accordion .panel-heading a.collapsed:hover,
.accordion .panel-heading a.collapsed:focus {
    background-color: #00ADB5;
    color: #fff;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading a.collapsed:hover::before,
.accordion .panel-heading a.collapsed:focus::before {
    color: #fff;
}

.accordion .panel-heading {
    padding: 0;
    border-radius: 0;
}

.accordion .panel-heading a:not(.collapsed) {
    color: #fff;
    background-color: #00ADB5;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading .accordion-toggle::before {
    font-family: 'fontAwesome';
    content: '\f111';
    float: left;
    color: #fff;
    font-weight: lighter;
    transition: all 0.2s ease-in;
}

.accordion .panel-heading .accordion-toggle.collapsed::before {
    font-family: 'fontAwesome';
    content: '\f1ce';
    color: #7f7f7f;
    transition: all 0.2s ease-in;
}

.pm-selector .pm-radioButton {
    display: none;
}

.pm-selector .pm-radioButton:active + .pm-label {
    opacity: .9;
}

.pm-selector .pm-radioButton:checked + .pm-label {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.pm-label {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-right: .7em;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.pm-label:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.tag-plans:hover {
    background-color: #00ADB5;
    color: white;
}

.tag-plans:hover::after {
    border-left-color: #00ADB5;
}

/* countdown */
.countdown-h2 {
    margin-bottom: 0;
    text-align: center;
    font: 300 2.25em "Lato";
    text-transform: uppercase;
}

.countdown-h2 strong {
    font-weight: 400;
    color: #00ADB5;
}

.countdown {
    width: 720px;
    margin: 0 auto;
}

.countdown .bloc-time {
    float: left;
    margin-right: 45px;
    text-align: center;
}

.countdown .bloc-time:last-child {
    margin-right: 0;
}

.countdown .count-title {
    display: block;
    margin-bottom: 10px;
    font: normal 0.94em "Lato";
    color: #1a1a1a;
    text-transform: uppercase;
}

.countdown .figure {
    position: relative;
    float: left;
    height: 110px;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}

.countdown .figure:last-child {
    margin-right: 0;
}

.countdown .figure > span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font: normal 5.94em/107px "Lato";
    font-weight: 700;
    color: #00ADB5;
}

.countdown .figure .top:after, .countdown .figure .bottom-back:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.countdown .figure .top {
    z-index: 3;
    background-color: #f7f7f7;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-transform: perspective(200px);
    -ms-transform: perspective(200px);
    -webkit-transform: perspective(200px);
    transform: perspective(200px);
}

.countdown .figure .bottom {
    z-index: 1;
}

.countdown .figure .bottom:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.02);
}

.countdown .figure .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: #f7f7f7;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.countdown .figure .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.countdown .figure .top, .countdown .figure .top-back {
    height: 50%;
    overflow: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.countdown .figure .top-back {
    z-index: 4;
    bottom: 0;
    background-color: #fff;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -moz-transform: perspective(200px) rotateX(180deg);
    -ms-transform: perspective(200px) rotateX(180deg);
    -webkit-transform: perspective(200px) rotateX(180deg);
    transform: perspective(200px) rotateX(180deg);
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.countdown .figure .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
}

/*image upload drag & drop*/
.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
}

.uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.uploader label:hover {
    border-color: #00ADB5;
}

.uploader label.hover {
    border: 3px solid #00ADB5;
    box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
}

.uploader #start {
    float: left;
    clear: both;
    width: 100%;
}

.uploader #start.hidden {
    display: none;
}

.uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
}

.uploader #response {
    float: left;
    clear: both;
    width: 100%;
}

.uploader #response.hidden {
    display: none;
}

.uploader #response #messages {
    margin-bottom: .5rem;
}

.uploader #file-image {
    display: inline;
    margin: 0 auto .5rem auto;
}

.uploader #file-image.hidden {
    display: none;
}

.uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
}

.uploader #notimage.hidden {
    display: none;
}

.uploader #progress-upload .progress-bar {
    background-color: #00ADB5;
    color: #fff;
    border-radius: 4px;
    z-index: 20;
}

.uploader input[type="file"] {
    display: none;
}

.uploader div {
    margin: 0 0 .5rem 0;
    color: #5f6982;
}
